{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Management System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel=" stylesheet" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-1g navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <i class="fa-solid fa-graduation-cap fa-1g"></i> Student Management
          System</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">
                <i class="fa-solid fa-list fa-1g"></i> All Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add' %}">
                <i class="fa-solid fa-plus fa-1g"></i> Add Student
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">{% block body %} {% endblock %}</div>
    <footer class="mt-auto mb-4">
      <div class="text-center">
        <span>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Bob's Programming Academy.
        </span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
